@model MealVM

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-primary bg-gradient m-lg-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Delete Meal</h2>
			</div>
		</div>
	</div>
	<div class="card-body">
		<form method="post" class="row">
			<input asp-for="@Model.Meal.Api_Id" hidden />
			<input asp-for="@Model.Meal.ServingSizeAmount" hidden />
			<input asp-for="@Model.Meal.ServingSizeUnit" hidden />
			<input asp-for="@Model.Meal.Id" hidden />
			<input asp-for="@Model.Meal.UserID" hidden />
			<div class="row">
				<div class="form-floating mb-3 col-8">
					<input asp-for="@Model.Meal.FoodName" class="form-control border-0 shadow" disabled />
					<label asp-for="@Model.Meal.FoodName" class="ms-2"></label>
				</div>
				<div class="form-floating mb-3 col-4">
					<input id="servings" asp-for="@Model.Meal.Servings" class="form-control border-0 shadow" disabled />
					@if (Model.Meal.ServingSizeAmount != null)
					{
						<label asp-for="@Model.Meal.Servings" class="ms-2"> No. of Servings (@Model.Meal.ServingSizeAmount @Model.Meal.ServingSizeUnit) </label>
					}
					else
					{
						<label asp-for="@Model.Meal.Servings" class="ms-2">No. of Servings</label>
					}
				</div>
			</div>
			@if (Model.Meal.BrandName != null)
			{
				<div class="row">
					<div class="form-floating mb-3 col-8">
						<input asp-for="@Model.Meal.BrandName" class="form-control border-0 shadow" disabled />
						<label asp-for="@Model.Meal.BrandName" class="ms-2"></label>
					</div>
				</div>
			}
			<div class="row d-flex flex-sm-row">
				<div class="form-floating mb-3 col-2">
					<input type="date" asp-for="@Model.Meal.Date" class="form-control border-0 shadow" disabled />
					<label asp-for="@Model.Meal.Date" class="ms-2"></label>
				</div>
				<div class="form-floating mb-3 col-2">
					<select asp-for="@Model.Meal.MealTime" asp-items="@Model.MealTimes" class="form-select border-0 shadow" disabled>
					</select>
					<label asp-for="@Model.Meal.MealTime" class="ms-2"></label>
				</div>
				<div class="col-4">
				</div>
				<div class="col-4 d-flex flex-column mb-3" style="height:50vh">
					<div class="mb-3">
						<canvas id="nutritionchart"></canvas>
					</div>
					<div class="d-flex flex-shrink-1 flex-row mb-3 justify-content-evenly">
						<div class="d-flex flex-column align-items-center border flex-fill">
							<label asp-for="@Model.Meal.Calories" class="h5 border-bottom"></label>
							<input id="calories" asp-for="@Model.Meal.Calories" class="m-0 p-0 form-control border-0 text-center" disabled />
						</div>
						<div class="d-flex flex-column align-items-center border flex-fill">
							<label asp-for="@Model.Meal.Carbohydrates" class="h5 border-bottom px-1"></label>
							<input id="carbohydrates" asp-for="@Model.Meal.Carbohydrates" class="m-0 p-0 form-control border-0 text-center" disabled />
						</div>
						<div class="d-flex flex-column align-items-center border flex-fill">
							<label asp-for="@Model.Meal.Protein" class="h5 border-bottom"></label>
							<input id="protein" asp-for="@Model.Meal.Protein" class="m-0 p-0 form-control border-0 text-center" disabled />
						</div>
						<div class="d-flex flex-column align-items-center border flex-fill">
							<label asp-for="@Model.Meal.Fat" class="h5 border-bottom"></label>
							<input id="fat" asp-for="@Model.Meal.Fat" class="m-0 p-0 form-control border-0 text-center" disabled />
						</div>
					</div>
				</div>
			</div>
			<div class="row pt-2">
				<div class="col-6 col-md-3">
					<button type="submit" class="btn btn-danger form-control">Delete</button>
				</div>
				<div class="col-6 col-md-3">
					<a asp-controller="Meal" asp-action="Index" class="btn btn-outline-primary border form-control">
						Back To Meals
					</a>
				</div>
			</div>
		</form>
	</div>
</div>



@section Scripts {
	<script>
		let nutritionchart = new Chart("nutritionchart", {
			type: 'pie',
			data: {
				labels: [
					'Carbohydrates',
					'Fats',
					'Proteins'
				],
				datasets: [{
					label: 'Amount',
					data: [document.getElementById('carbohydrates').value, document.getElementById('fat').value, document.getElementById('protein').value],
					backgroundColor: [
						'rgb(255, 159, 64)',
						'rgb(255, 99, 132)',
						'rgb(54, 162, 235)'
					]
				}]
			}
		});
	</script>
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
