@model HomeVM

<div class="container px-5">
    <div class="row justify-content-between">
        <div class="card col-3 text-center p-0">
            <div class="card-header text-bg-primary">
                <h6 class="fw-bold">Overall Bodyweight Progress</h6>
            </div>
            <div class="card-body">
                @if (Model.OverallBodyweightProgress != null)
                {
                    @if (Model.OverallBodyweightProgress > 0)
                    {
                        <h5 class="card-text text-danger">
                            <i class="bi bi-caret-up-fill"></i>
                            @Model.OverallBodyweightProgress @Model.Unit
                        </h5>
                    }
                    else if (Model.OverallBodyweightProgress == 0)
                    {
                        <h5 class="card-text">
                            <i class="bi bi-dash-lg"></i>
                            @Model.OverallBodyweightProgress @Model.Unit
                        </h5>
                    }
                    else
                    {
                        <h5 class="card-text text-success">
                            <i class="bi bi-caret-down-fill"></i>
                            @Model.OverallBodyweightProgress @Model.Unit
                        </h5>
                    }

                }
                else
                {
                    <h5 class="card-text">
                       0 @(Model.Unit ?? "kgs")
                    </h5>
                }
            </div>
        </div>
        <div class="card col-3 text-center p-0">
            <div class="card-header text-bg-primary">
                <h6 class="fw-bold">Bodyweight Progress</h6>
            </div>
            <div class="card-body">
                @if (Model.BodyweightProgress != null)
                {
                    @if (Model.BodyweightProgress > 0)
                    {
                        <h5 class="card-text text-danger">
                            <i class="bi bi-caret-up-fill"></i>
                            @Model.BodyweightProgress @Model.Unit
                        </h5>
                    }
                    else if (Model.BodyweightProgress == 0)
                    {
                        <h5 class="card-text">
                            <i class="bi bi-dash-lg"></i>
                            @Model.BodyweightProgress @Model.Unit
                        </h5>
                    }
                    else
                    {
                        <h5 class="card-text text-success">
                            <i class="bi bi-caret-down-fill"></i>
                            @Model.BodyweightProgress @Model.Unit
                        </h5>
                    }

                }
                else
                {
                    <h5 class="card-text">
                        0 @(Model.Unit ?? "kgs")
                    </h5>
                }
            </div>
        </div>
        <div class="card col-3 text-center p-0">
            <div class="card-header text-bg-primary">
                <h6 class="fw-bold">Most Recent Bodyweight</h6>
            </div>
            <div class="card-body">
                @if (Model.LatestBodyweight != null)
                {
                    <h5 class="card-text">
                        @Model.LatestBodyweight @Model.Unit 
                    </h5>
                }
                else
                {
                    <h5 class="card-text">
                        --.-- kgs
                    </h5>
                }
            </div>
        </div>
    </div>
    <div class="row my-5 gx-5" style="height: 60vh;">
        <div class="col-4">
            <canvas id="homeDailyNutritionChart" class="d-block" alt="Daily Nutrition Progress..."></canvas>
        </div>
        <div class="col-8">
            <canvas id="homeGoalChart" class="d-block" alt="Target Weight Progress..."></canvas>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/homenutritionchart.js" asp-append-version="true"></script>
    <script src="~/js/homegoalchart.js" asp-append-version="true"></script>
}
