@model IQueryable<BodyWeight>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    BodyWeight? earliestWeight = Model.FirstOrDefault();
    BodyWeight? latestWeight = Model.LastOrDefault();
    BodyWeight? secondLastWeight = Model.ElementAtOrDefault(Model.Count() - 2);
}

<div class="container">
    <div class="row">
        <div class="btn-group col-6" role="group" aria-label="Choose Time For BodyWeight Graph">
            <input type="radio" class="btn-check" name="btnradio" id="bodyweight-weekly" autocomplete="off">
            <label class="btn btn-outline-primary" for="bodyweight-weekly">Weekly</label>

            <input type="radio" class="btn-check" name="btnradio" id="bodyweight-monthly" autocomplete="off">
            <label class="btn btn-outline-primary" for="bodyweight-monthly">Monthly</label>

            <input type="radio" class="btn-check" name="btnradio" id="bodyweight-annual" autocomplete="off">
            <label class="btn btn-outline-primary" for="bodyweight-annual">Annual</label>

            <input type="radio" class="btn-check" name="btnradio" id="bodyweight-all" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="bodyweight-all">All Time</label>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-action="Create">
                <i class="bi bi-calendar-plus"></i> Log Weight
            </a>
            <a class="btn btn-primary" asp-action="Details">
                <i class="bi bi-list-task"></i> Edit Weight Logs
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <canvas id="bodyWeightChart" class="d-block" alt="Body Weight Progress..."></canvas>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="card col-3 text-center p-0">
            <div class="card-header text-bg-primary">
                <h6 class="fw-bold">Bodyweight Progress</h6>
            </div>
            <div class="card-body">
                @if (Model.Count() >= 2)
                {
                    if (secondLastWeight?.Unit != latestWeight?.Unit)
                    {
                        if (secondLastWeight?.Unit == "kgs")
                        {
                            secondLastWeight.Weight *= 2.205;
                            secondLastWeight.Unit = "lbs";
                        }
                        else
                        {
                            secondLastWeight.Weight /= 2.205;
                            secondLastWeight.Unit = "kgs";
                        }
                    }
                    @if (latestWeight?.Weight > secondLastWeight?.Weight)
                    {
                        <h5 class="card-text text-danger">
                            <i class="bi bi-caret-up-fill"></i>
                            @(Double.Round(latestWeight.Weight - secondLastWeight.Weight, 2)) @latestWeight.Unit
                        </h5>
                    }
                    else if (latestWeight?.Weight < secondLastWeight?.Weight)
                    {
                        <h5 class="card-text text-success">
                            <i class="bi bi-caret-down-fill"></i>
                            @(Double.Round(latestWeight.Weight - secondLastWeight.Weight, 2)) @latestWeight.Unit
                        </h5>

                    }
                    else
                    {
                        <h5 class="card-text">
                            <i class="bi bi-dash-lg"></i>
                            @(Double.Round(latestWeight.Weight - secondLastWeight.Weight, 2)) @latestWeight.Unit
                        </h5>
                    }
                }
            </div>
        </div>
        <div class="card col-3 text-center p-0">
            <div class="card-header text-bg-primary">
                <h6 class="fw-bold">Overall Bodyweight Progress</h6>
            </div>
            <div class="card-body">
                @if (Model.Count() >= 2)
                {
                    if (earliestWeight?.Unit != latestWeight?.Unit)
                    {
                        if (earliestWeight?.Unit == "kgs")
                        {
                            earliestWeight.Weight *= 2.205;
                            earliestWeight.Unit = "lbs";
                        }
                        else
                        {
                            earliestWeight.Weight /= 2.205;
                            earliestWeight.Unit = "kgs";
                        }
                    }
                    @if (latestWeight?.Weight > earliestWeight?.Weight)
                    {
                        <h5 class="card-text text-danger">
                            <i class="bi bi-caret-up-fill"></i>
                            @(Double.Round(latestWeight.Weight - earliestWeight.Weight, 2)) @latestWeight.Unit
                        </h5>
                    }
                    else if (latestWeight?.Weight < earliestWeight?.Weight)
                    {
                        <h5 class="card-text text-success">
                            <i class="bi bi-caret-down-fill"></i>
                            @(Double.Round(latestWeight.Weight - earliestWeight.Weight, 2)) @latestWeight.Unit
                        </h5>

                    }
                    else
                    {
                        <h5 class="card-text">
                            <i class="bi bi-dash-lg"></i>
                            @(Double.Round(latestWeight.Weight - earliestWeight.Weight, 2)) @latestWeight.Unit
                        </h5>
                    }
                }
            </div>
        </div>
       
        <div class="card col-3 text-center p-0">
            <div class="card-header text-bg-primary">
                <h6 class="fw-bold">Most Recent Bodyweight</h6>
            </div>
            <div class="card-body">
                <h5 class="card-text">@(latestWeight?.Weight ?? 0) @(latestWeight?.Unit ?? "kg")</h5>
            </div>
        </div>
        
    </div>
</div>

@section Scripts{
	<script src="~/js/bodyweightchart.js" asp-append-version="true"></script>
}