@model List<Goal>


<div class="card shadow border-0 mt-4">
	<div class="card-header bg-primary bg-gradient m-lg-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">All Goals</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row justify-content-between pb-3">
			<div class="col-6">
				<a asp-controller="Goal" asp-action="Index" class="btn btn-outline-primary">
					<i class="bi bi-arrow-left"></i> Back to Bodyweight Progress Summary
				</a>
			</div>
			<div class="col-6 text-end">
				<a asp-controller="Goal" asp-action="Create" class="btn btn-primary">
					<i class="bi bi-bullseye"></i> Add Goal
				</a>
			</div>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center">
						Target Weight
					</th>
					<th class="text-center">
						Target Date
					</th>
					<th class="text-center">
						Target Calories/day
					</th>
					<th>

					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var obj in Model)
				{
					<tr>
						<td class="text-center">
							@obj.TargetWeight @obj.Unit
						</td>
						<td class="text-center">
							@obj.TargetDate
						</td>
						<td class="text-center">
							@obj.DailyCalories cal
						</td>
						<td class="text-center">
							<div class="w-75 btn-group" role="group">
								<a asp-controller="Goal" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
									<i class="bi bi-pencil-square"></i> Edit
								</a>
								<a asp-controller="Goal" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
									<i class="bi bi-trash-fill"></i> Delete
								</a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
