@model GoalVM

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-primary bg-gradient m-lg-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Edit Goal</h2>
			</div>
		</div>
	</div>
	<div class="card-body">
		<form method="post" class="row">
			<input asp-for="Goal.Id" hidden />
			<input asp-for="Goal.UserID" hidden />
			<div asp-validation-summary="ModelOnly"></div>
			<div class="form-floating py-2 col-2">
				<input asp-for="Goal.TargetWeight" class="form-control border-0 shadow" />
				<label asp-for="Goal.TargetWeight" class="ms-2"></label>
				<span asp-validation-for="Goal.TargetWeight" class="text-danger"></span>
			</div>
			<div class="form-floating py-2 col-2">
				<select asp-for="Goal.Unit" asp-items="@Model.Units" class="form-select border-0 shadow">
					<option disabled selected>--Select Unit--</option>
				</select>
				<label asp-for="Goal.Unit" class="ms-2"></label>
				<span asp-validation-for="Goal.Unit" class="text-danger"></span>
			</div>
			<div class="form-floating py-2 col-4">
				<input asp-for="Goal.TargetDate" class="form-control border-0 shadow" />
				<label asp-for="Goal.TargetDate" class="ms-2"></label>
				<span asp-validation-for="Goal.TargetDate" class="text-danger"></span>
			</div>
			<div class="row pt-2">
				<div class="form-floating py-2 col-3">
					<input asp-for="Goal.DailyCalories" class="form-control border-0 shadow" />
					<label asp-for="Goal.DailyCalories" class="ms-2"></label>
					<span asp-validation-for="Goal.DailyCalories" class="text-danger d-block"></span>
					@if (!string.IsNullOrEmpty(Model.CaloriesDesc))
					{
						<span class="">Recommended: @Model.CaloriesDesc</span>
					}
				</div>
				<div class="form-floating py-2 col-3">
					<input asp-for="Goal.DailyCarbs" class="form-control border-0 shadow" />
					<label asp-for="Goal.DailyCarbs" class="ms-2"></label>
					<span asp-validation-for="Goal.DailyCarbs" class="text-danger d-block"></span>
					@if (!string.IsNullOrEmpty(Model.CarbsDesc))
					{
						<span class="">Recommended: @Model.CarbsDesc</span>
					}
				</div>
				<div class="form-floating py-2 col-3">
					<input asp-for="Goal.DailyProtein" class="form-control border-0 shadow" />
					<label asp-for="Goal.DailyProtein" class="ms-2"></label>
					<span asp-validation-for="Goal.DailyProtein" class="text-danger d-block"></span>
					@if (!string.IsNullOrEmpty(Model.ProteinDesc))
					{
						<span class="">Recommended: @Model.ProteinDesc</span>
					}
				</div>
				<div class="form-floating py-2 col-3">
					<input asp-for="Goal.DailyFats" class="form-control border-0 shadow" />
					<label asp-for="Goal.DailyFats" class="ms-2"></label>
					<span asp-validation-for="Goal.DailyFats" class="text-danger d-block"></span>
					@if (!string.IsNullOrEmpty(Model.FatsDesc))
					{
						<span class="">Recommended: @Model.FatsDesc</span>
					}
				</div>
			</div>
			<div class="row pt-2">
				<div class="col-6 col-md-3">
					<button type="submit" class="btn btn-primary form-control">Confirm</button>
				</div>
				<div class="col-6 col-md-3">
					<a asp-controller="Goal" asp-action="Details" class="btn btn-outline-primary border form-control">
						Back To List
					</a>
				</div>
			</div>
		</form>
	</div>
</div>


@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
